.banner-detailnews img{
    width: 1200px;
    height: 500px;
}

.text-detail h1, h2{
    text-align: center;
}

.text-detail h1, h1{
    text-align: center;
}

.text-detail p{
    text-align: justify;
    position: relative;
}

.text-detail img{
    position: center;
}

.noi-dung-detail h2, p{
    text-align: middle;
}


